---
import Github from "../icons/Github.astro";
import PreviewIcon from "../icons/PreviewIcon.astro";
import type { Project } from "../types/types";
interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div
  class="flex flex-col md:flex-row p-2 gap-4 text-white rounded-md relative h-auto group md:space-x-6 w-full"
>
  <figure
    class="relative md:w-1/2 flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
  >
    <img
      src={project.image}
      loading="lazy"
      alt={`image de ${project.name}`}
      class="object-cover object-top w-full h-56 transition duration-500 md:scale-110 md:group-hover:scale-105"
    />
  </figure>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3
      class="text-2xl font-bold text-gray-800 dark:text-gray-100 first-letter:uppercase"
    >
      {project.name}
    </h3>
    <ul class="flex flex-row my-2 gap-x-2">
      {
        project.languages.map((lenguaje: any) => {
          return (
            <li
              class="py-1 px-2 text-xs rounded-full"
              style={{ backgroundColor: lenguaje.color, opacity: 8 }}
            >
              {lenguaje.name}
            </li>
          );
        })
      }
    </ul>

    <div class="text-xl mt-2 text-gray-700 dark:text-gray-400 first-letter:uppercase">
      {project.description}
    </div>
    <div class="flex  gap-3 flex-wrap">

    {
      project.github !== null ? (
        <a
          href={project.github || ""}
          target="_blank"
          rel="noreferrer"
          class="mt-4 inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
          <Github class="w-6 h-6" />
          <span>Repositorio</span>
        </a>
      ) : (
        ""
      )
    }

{
  project.preview !== null ? (
    <a
      href={project.preview || ""}
      target="_blank"
      rel="noreferrer"
      class="mt-4 inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
    >
    <PreviewIcon />
      <span>Preview</span>
    </a>
  ) : (
    ""
  )
}
    </div>
  </div>
</div>
