---
// Datos de ejemplo
const educations = [
  {
    position: "ONE - Oracle Next Education (G8)",
    company: "Alura LATAM + Oracle",
    period: "Enero 2025 - Actualidad",
    location: "En línea",
  },
  {
    position: "Ingeniería en Tecnologías de la Información",
    company: "Universidad Tecnológica de los Valles Centrales de Oaxaca",
    period: "2021 - 2025",
    location: "Oaxaca, México",
  },
];
---

<div class="flex flex-col space-y-4 h-full rounded-md">
  {
    educations.map((exp, index) => (
      <div
        class="experience border-l-2 border-blue-400 pl-4 cursor-pointer group transition-all duration-300"
        data-index={index}
      >
        <h4 class="text-white font-medium text-sm">{exp.position}</h4>
        <p class="text-blue-400 text-sm font-medium">{exp.company}</p>
        <div class="flex justify-between items-center mt-1">
          <span class="text-slate-400 text-xs">{exp.period}</span>
          <span class="text-slate-400 text-xs">{exp.location}</span>
        </div>
      </div>
    ))
  }
</div>
