---
const EXPERIENCE = [
  {
    company: "Corporativa Red OSMO",
    position: "Full Stack Developer",
    period: "Enero – Abril 2025",
    location: "Oaxaca, México",
    description: `
Lideré el desarrollo de una **plataforma de gestión de inventario** utilizando **Django REST Framework** y **SQL Server**, coordinando al equipo para cumplir objetivos y entregas clave.

    `,
  },
  {
    company: "Volkswagen",
    position: "Full Stack Developer",
    period: "Mayo – Agosto 2023",
    location: "Oaxaca, México",
    description: `
Desarrollé una plataforma interna de gestión de capacitaciones con **Laravel, MySQL y JavaScript**, optimizando el seguimiento del desarrollo profesional y facilitando decisiones estratégicas en RH.

`,
  },
];
---

<div class="space-y-8">
  {
    EXPERIENCE.map((exp, index) => {
      return (
        <div
          class="experience border-l-2 border-blue-400 pl-4 cursor-pointer group transition-all duration-300 grid grid-cols-8 gap-2 md:gap-8 w-full"
          data-index={index}
        >
          <div class="col-span-8 md:col-span-3">
            <h4 class="text-white font-medium text-normal">
              <span class="text-blue-400">{exp.position}</span>{" "}
              <span class="text-slate-400">en</span> {exp.company}
            </h4>
            <span class="text-slate-400 text-xs">
              {exp.period} [{exp.location}]
            </span>
          </div>

          <div class="col-span-8 md:col-span-5 max-w-none text-slate-300 leading-relaxed">
            <div
              set:html={exp.description.replace(
                /\*\*(.*?)\*\*/g,
                '<strong class="text-blue-300">$1</strong>'
              )}
              class="whitespace-pre-line [&>ul]:list-none [&>ul]:pl-0 [&>ul>li]:flex [&>ul>li]:items-start [&>ul>li]:gap-2 [&>ul>li]:mb-2 [&>ul>li]:before:content-[''] [&>ul>li]:before:w-1.5 [&>ul>li]:before:rounded-full [&>ul>li]:before:bg-blue-400"
            />
          </div>
        </div>
      );
    })
  }
</div>
