---
import Github from "../icons/Github.astro";
import PreviewIcon from "../icons/PreviewIcon.astro";
// import type { Project } from "../types/types";
import ButtonCard from "./ButtonCard.astro";
import Chips from "./Chips.astro";
import { Image } from "astro:assets";
// interface Props {
//   project: Project;
// }

const { project } = Astro.props;
---

<div
  class="break-inside-avoid overflow-hidden shadow cursor-pointer group relative rounded-xl"
>
  <div class="relative">
    <figure
      class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
    >
      <Image
        src={project.image}
        height={200}
        width={200}
        loading="lazy"
        alt={`image de ${project.name}`}
        class="object-cover object-top w-full h-full transition duration-500 md:scale-110 md:group-hover:scale-105"
      />
    </figure>
    <Chips languages={project.languages} />
  </div>
  <div
    class="bg-slate-800/50 p-1 absolute top-0 left-0 right-0 flex gap-1 justify-between items-center opacity-0 transition duration-500 ease-in-out group-hover:opacity-100"
  >
    <h3
      class="flex gap-x-2 items-end font-bold text-gray-800 dark:text-gray-100 first-letter:uppercase"
    >
      {project.name}
    </h3>
    <div class="gap-1 flex-wrap">
      <ButtonCard link={project.github} class="">
        <Github class="w-6 h-6" />
      </ButtonCard>
      <ButtonCard link={project.preview}>
        <PreviewIcon class="w-6 h-6" />
      </ButtonCard>
    </div>
  </div>

  <div class="w-full flex flex-col justify-between">
    <div class="mt-2 text-gray-700 dark:text-gray-400 first-letter:uppercase">
      {project.description}
    </div>
  </div>
</div>
