---
import Github from "@/icons/Github.astro";
import Chips from "./Chips.astro";
import PreviewIcon from "@/icons/PreviewIcon.astro";

const { projects } = Astro.props;
---

<section>
  {
    projects.length > 0 ? (
      <div class="project w-full gap-4 flex-wrap ">
        {projects.map((project) => (
          <div class="rounded-xl overflow-hidden shadow-md group relative ">
            {/* Imagen */}
            <figure class="relative overflow-hidden rounded-xl aspect-video">
              <img
                src={project.image}
                alt={`Imagen del proyecto ${project.name}`}
                width={640}
                height={360}
                loading="lazy"
                class="object-cover w-full h-full transition-transform duration-300 "
              />
            </figure>
            {/* Overlay en hover */}
            <figcaption class="absolute inset-0 bg-black/40 backdrop-blur-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col gap-4 px-4 py-2 text-white">
              {/* Título y botones */}
              <div class="flex justify-between w-full items-center">
                <h3 class="text-base font-bold">{project.name}</h3>
                <div class="flex gap-4">
                  {project.github && (
                    <a target="_blank" href={project.github}>
                      <Github
                        class="w-6 h-6 mx-1 hover:text-gray-300"
                        target="_blank"
                        rel="noopener noreferrer"
                      />
                    </a>
                  )}
                  {project.preview && (
                    <a target="_blank" href={project.preview}>
                      <PreviewIcon
                        class="w-6 h-6 mx-1 hover:text-gray-300"
                        target="_blank"
                        rel="noopener noreferrer"
                      />
                    </a>
                  )}
                </div>
              </div>

              <p class="text-sm line-clamp-3">{project.description}</p>
              <Chips languages={project.languages} />
            </figcaption>
          </div>
        ))}
      </div>
    ) : (
      <p class="text-gray-600 dark:text-gray-300">
        No hay proyectos disponibles en este momento.
      </p>
    )
  }
</section>

<style>
  .project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  .project div {
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }

  .project div:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 1;
    filter: contrast(120%);
  }
</style>
